# Analysing E-commerce Shipping Data

## Project Objectives
- Analyze the shipping dataset 
- Identify opportunities to improve
- Create dashboards to measure performance and root-cause

Source: https://www.kaggle.com/datasets/prachi13/customer-analytics

## Exploratory Data Analysis

### Step 1: Understanding the data
The data contains the following information:

- ID: ID Number of Customers.
- Warehouse block: The Company have big Warehouse which is divided in to block such as A,B,C,D,E.
- Mode of shipment:The Company Ships the products in multiple way such as Ship, Flight and Road.
- Customer care calls: The number of calls made from enquiry for enquiry of the shipment.
- Customer rating: The company has rate from every customer. 1 is the lowest (Worst), 5 is the highest (Best).
- Cost of the product: Cost of the Product in US Dollars.
- Prior purchases: The Number of Prior Purchase.
- Product importance: The company has categorized the product in the various parameter such as low, medium, high.
- Gender: Male and Female.
- Discount offered: Discount offered on that specific product.
- Weight in gms: It is the weight in grams.
- Reached on time: It is the target variable, where 1 Indicates that the product has NOT reached on time and 0 indicates it has reached on time.

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

shipping_data = pd.read_csv('ship_data.csv')

shipping_data.describe(include='all')

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999,10999,10999.000000,10999.000000,10999.000000,10999.000000,10999,10999,10999.000000,10999.000000,10999.000000
unique,NaN,5,3,NaN,NaN,NaN,NaN,3,2,NaN,NaN,NaN
top,NaN,F,Ship,NaN,NaN,NaN,NaN,low,F,NaN,NaN,NaN
freq,NaN,3666,7462,NaN,NaN,NaN,NaN,5297,5545,NaN,NaN,NaN
mean,5500.00000,NaN,NaN,4.054459,2.990545,210.196836,3.567597,NaN,NaN,13.373216,3634.016729,0.596691
std,3175.28214,NaN,NaN,1.141490,1.413603,48.063272,1.522860,NaN,NaN,16.205527,1635.377251,0.490584
min,1.00000,NaN,NaN,2.000000,1.000000,96.000000,2.000000,NaN,NaN,1.000000,1001.000000,0.000000
25%,2750.50000,NaN,NaN,3.000000,2.000000,169.000000,3.000000,NaN,NaN,4.000000,1839.500000,0.000000
50%,5500.00000,NaN,NaN,4.000000,3.000000,214.000000,3.000000,NaN,NaN,7.000000,4149.000000,1.000000
75%,8249.50000,NaN,NaN,5.000000,4.000000,251.000000,4.000000,NaN,NaN,10.000000,5050.000000,1.000000
max,10999.00000,NaN,NaN,7.000000,5.000000,310.000000,10.000000,NaN,NaN,65.000000,7846.000000,1.000000

In [27]:
# renaming column values 
print(shipping_data.columns)
shipping_data.columns = ['id', 'warehouse_block', 'mode_of_shipment', 'customer_care_calls'
                         , 'customer_rating', 'product_cost_usd', 'prior_purchases', 'product_importance'
                         , 'customer_gender', 'discount_offered', 'weight_in_gms', 'arrived_on_time' ]

Index(['id', 'warehouse_block', 'mode_of_shipment', 'customer_care_calls',
       'cutomer_rating', 'product_cost_usd', 'prior_purchases',
       'product_importance', 'customer_gender', 'discount_offered',
       'weight_in_gms', 'arrived_on_time'],
      dtype='object')

In [28]:
shipping_data.info() # there are no null values in the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10999 non-null  int64
 1   warehouse_block      10999 non-null  object
 2   mode_of_shipment     10999 non-null  object
 3   customer_care_calls  10999 non-null  int64
 4   customer_rating      10999 non-null  int64
 5   product_cost_usd     10999 non-null  int64
 6   prior_purchases      10999 non-null  int64
 7   product_importance   10999 non-null  object
 8   customer_gender      10999 non-null  object
 9   discount_offered     10999 non-null  int64
 10  weight_in_gms        10999 non-null  int64
 11  arrived_on_time      10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

## Let's check values in each category

In [16]:
blocks = shipping_data.warehouse_block.value_counts()
blocks

warehouse_block
F    3666
D    1834
A    1833
B    1833
C    1833
Name: count, dtype: int64

In [24]:
on_time = shipping_data.groupby('warehouse_block').arrived_on_time.sum()
on_time

warehouse_block
A    1075
B    1104
C    1094
D    1096
F    2194
Name: arrived_on_time, dtype: int64

In [26]:
pivot_rating_per_warehouse = shipping_data.pivot_table(values='customer_rating', index='warehouse_block', aggfunc='mean')
pivot_rating_per_warehouse

KeyError: 'customer_rating'